<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header grid grid-4col">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields grid-span-2">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>

    {{!-- 사이즈, 파일럿 --}}
      <div class="additional-stats grid grid-2col">
        {{!-- 사이즈 --}}
        <div class="resource flex-group-center">
          <label for="system.size" class="resource-label">사이즈</label>
          <input type="text" name="system.size" value="{{system.size}}" data-dtype="String"/>
        </div>

        {{!-- 파일럿 --}}
        <div class="resource flex-group-center">
          <label for="system.pilot" class="resource-label">파일럿</label>
          {{#if system.pilot.id}}
            <input type="text" name="system.pilot.name" value="{{system.pilot.name}}" data-dtype="String" readonly />
            <button type="button" class="remove-pilot" data-action="removePilot">파일럿 제거</button>
          {{else}}
            <div class="drop-zone" data-action="pilot-drop">
              <p>파일럿 필요 (드래그 앤 드롭)</p>
            </div>
          {{/if}}
        </div>


      </div>
    </div>

      {{!-- FP, HP, EN, 이동력, 전력이동 --}}
      <div class="resources">

        {{!-- FP --}}
        <div class="resource flex-group-center">
          <label for="system.FP.value" class="resource-label">FP</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.FP.value" value="{{system.FP.value}}" data-dtype="Number"/>
            <span> / </span>
            <input type="text" name="system.FP.max" value="{{system.FP.max}}" data-dtype="Number"/>
          </div>
        </div>

        {{!-- HP --}}
        <div class="resource flex-group-center">
          <label for="system.HP.value" class="resource-label">HP</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.HP.value" value="{{system.HP.value}}" data-dtype="Number"/>
            <span> / </span>
            <input type="text" name="system.HP.max" value="{{system.HP.max}}" data-dtype="Number"/>
          </div>
        </div>

        {{!-- EN --}}
        <div class="resource flex-group-center">
          <label for="system.EN.value" class="resource-label">EN</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.EN.value" value="{{system.EN.value}}" data-dtype="Number"/>
            <span> / </span>
            <input type="text" name="system.EN.max" value="{{system.EN.max}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="grid-2col">
          {{!-- 이동력 --}}
          <div class="resource flex-group-center">
            <label for="system.battle-stats.speed.value" class="resource-label">이동력</label>
            <input type="text" name="system.battle-stats.speed.value" value="{{system.battle-stats.speed.value}}" data-dtype="Number"/>
          </div>

          {{!-- 전력이동 --}}
          <div class="resource flex-group-center">
            <label for="system.battle-stats.speed.full" class="resource-label">전력이동</label>
            <input type="text" name="system.battle-stats.speed.full" value="{{system.battle-stats.speed.full}}" data-dtype="Number"/>
          </div>
        </div>
      </div>

  </header>

  {{! 능력치 테이블 영역 }}
  <section class="attributes-container grid grid-6col">
    {{! 능력치 헤더 }}
    <button class="attribute-header rollable" data-action="strRoll">체력</button>
    <button class="attribute-header rollable" data-action="dexRoll">반사</button>
    <button class="attribute-header rollable" data-action="perRoll">지각</button>
    <button class="attribute-header rollable" data-action="intRoll">이성</button>
    <button class="attribute-header rollable" data-action="wilRoll">의지</button>
    <button class="attribute-header rollable" data-action="lukRoll">행운</button>
    {{! 능력치 수정치 영역 }}
    <div class="attribute-mod">
      <input
        type="number"
        name="system.attributes.str.mod"
        value="{{system.attributes.str.mod}}"
        data-dtype="Number"
        readonly
      />
    </div>
    <div class="attribute-mod">
      <input
        type="number"
        name="system.attributes.dex.mod"
        value="{{system.attributes.dex.mod}}"
        data-dtype="Number"
        readonly
      />
    </div>
    <div class="attribute-mod">
      <input
        type="number"
        name="system.attributes.per.mod"
        value="{{system.attributes.per.mod}}"
        data-dtype="Number"
        readonly
      />
    </div>
    <div class="attribute-mod">
      <input
        type="number"
        name="system.attributes.int.mod"
        value="{{system.attributes.int.mod}}"
        data-dtype="Number"
        readonly
      />
    </div>
    <div class="attribute-mod">
      <input
        type="number"
        name="system.attributes.wil.mod"
        value="{{system.attributes.wil.mod}}"
        data-dtype="Number"
        readonly
      />
    </div>
    <div class="attribute-mod">
      <input
        type="number"
        name="system.attributes.luk.mod"
        value="{{system.attributes.luk.mod}}"
        data-dtype="Number"
        readonly
      />
    </div>
  </section>

  {{! 판정 버튼 영역 }}
  <section class="roll-buttons flexrow">
    {{! 명중판정 버튼 }}
    <div class="roll-button">
      <button type="button" class="rollable" data-action="accuracy">명중판정</button>
      <input
        type="number"
        name="system.battle-stats.accuracy.added"
        value="{{system.battle-stats.accuracy.added}}"
        data-dtype="Number"
        readonly
      />
    </div>

    {{! 회피판정 버튼 }}
    <div class="roll-button">
      <button type="button" class="rollable" data-action="evasion">회피판정</button>
      <input
        type="number"
        name="system.battle-stats.evasion.added"
        value="{{system.battle-stats.evasion.added}}"
        data-dtype="Number"
        readonly
      />
    </div>

    {{! 포격판정 버튼 }}
    <div class="roll-button">
      <button type="button" class="rollable" data-action="artillery">포격판정</button>
      <input
        type="number"
        name="system.battle-stats.artillery.added"
        value="{{system.battle-stats.artillery.added}}"
        data-dtype="Number"
        readonly
      />
    </div>

    {{! 방벽판정 버튼 }}
    <div class="roll-button">
      <button type="button" class="rollable" data-action="defense">방벽판정</button>
      <input
        type="number"
        name="system.battle-stats.defense.added"
        value="{{system.battle-stats.defense.added}}"
        data-dtype="Number"
        readonly
      />
    </div>

    {{! 행동력(이니셔티브) 버튼 }}
    <div class="roll-button">
      <button type="button" class="rollInitiative" data-action="initiative">행동력</button>
      <input
        type="number"
        name="system.battle-stats.initiative.added"
        value="{{system.battle-stats.initiative.added}}"
        data-dtype="Number"
        readonly
      />
    </div>

  </section>

    <section class="sheet-stats grid grid-8col">
      <div class="stat-header grid-span-8">방어수정</div>

      <div class="stat-label">참격</div>
      <div class="stat-label">관통</div>
      <div class="stat-label">타격</div>
      <div class="stat-label">화염</div>
      <div class="stat-label">얼음</div>
      <div class="stat-label">번개</div>
      <div class="stat-label">광휘</div>
      <div class="stat-label">어둠</div>

      <div class="stat-value">
        <input
          type="number"
          name="system.defense.slash"
          value="{{system.defense.slash}}"
          readonly
        />
      </div>
      <div class="stat-value">
        <input
          type="number"
          name="system.defense.pierce"
          value="{{system.defense.pierce}}"
          readonly
        />
      </div>
      <div class="stat-value">
        <input
          type="number"
          name="system.defense.blunt"
          value="{{system.defense.blunt}}"
          readonly
        />
      </div>
      <div class="stat-value">
        <input
          type="number"
          name="system.defense.fire"
          value="{{system.defense.fire}}"
          readonly
        />
      </div>
      <div class="stat-value">
        <input
          type="number"
          name="system.defense.ice"
          value="{{system.defense.ice}}"
          readonly
        />
      </div>
      <div class="stat-value">
        <input
          type="number"
          name="system.defense.electric"
          value="{{system.defense.electric}}"
          readonly
        />
      </div>
      <div class="stat-value">
        <input
          type="number"
          name="system.defense.light"
          value="{{system.defense.light}}"
          readonly
        />
      </div>
      <div class="stat-value">
        <input
          type="number"
          name="system.defense.dark"
          value="{{system.defense.dark}}"
          readonly
        />
      </div>
    </section>
  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="model">Model</a>
    <a class="item" data-tab="skills">Skills</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
      {{editor system.biography target="system.biography" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="model">
       {{> "systems/metallic-guardian/templates/actor/parts/guardian-model.hbs"}}
    </div>

    {{!-- Skills Tab --}}
    <div class="tab skills" data-group="primary" data-tab="skills">
      {{> "systems/metallic-guardian/templates/actor/parts/guardian-skills.hbs"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/metallic-guardian/templates/actor/parts/actor-effects.hbs"}}
    </div>

  </section>
</form>

{{log system}}
