<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{! Sheet Header }}
  <header class="sheet-header">
    <img
      class="profile-img"
      src="{{actor.img}}"
      data-edit="img"
      title="{{actor.name}}"
      height="100"
      width="100"
    />
    <div class="header-fields">
      <h1 class="charname">
        <input
          name="name"
          type="text"
          value="{{actor.name}}"
          placeholder="Name"
        />
      </h1>

      {{! 외견 }}
      <div class="resource flexcol">
        <label for="system.appearance" class="resource-label">외견</label>
        <textarea name="system.appearance">{{system.appearance}}</textarea>
      </div>

      {{! 커버 }}
      <div class="resource flexcol">
        <label for="system.cover" class="resource-label">Cover</label>
        <input type="text" name="system.cover" value="{{system.cover}}" />
      </div>
    </div>
  </header>

  {{! Sheet Tab Navigation }}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="biography">Biography</a>
  </nav>

  {{! Sheet Body }}
  <section class="sheet-body">

    {{! Description Tab }}
    <div class="tab description" data-group="primary" data-tab="biography">
      {{editor
        enrichments.biography
        target="system.biography"
        rollData=rollData
        button=true
        owner=owner
        editable=editable
      }}
    </div>

  </section>
</form>