<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{! Sheet Header }}
  <header class="sheet-header grid grid-3col">

    {{! 이미지 영역 }}
    <div class="profile-img-container">
      <img
        class="profile-img"
        src="{{actor.img}}"
        data-edit="img"
        title="{{actor.name}}"
        height="150"
        width="150"
      />
    </div>

    {{! 이름, HP, 경험치, 상비화 포인트 영역 }}
    <div class="header-fields flexcol">
      <div class="name-level flexcol grid-2col">
        <label for="name" class="resource-label">이름</label>
        <input
          name="name"
          type="text"
          value="{{actor.name}}"
          placeholder="Name"
        />
      </div>

      {{! HP 영역 }}
      <div class="hp-container flexcol grid-2col">
        <label for="system.HP.value" class="resource-label">HP</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input
            type="text"
            name="system.HP.value"
            value="{{system.HP.value}}"
            data-dtype="Number"
          />
          <span> / </span>
          <input
            type="text"
            name="system.HP.max"
            value="{{system.HP.max}}"
            data-dtype="Number"
            readonly
          />
        </div>
      </div>

      {{! 경험치 영역 }}
      <div class="xp-container flexcol grid-2col">
        <label for="system.exp" class="resource-label">경험치</label>
        <input
          type="text"
          name="system.exp"
          value="{{system.exp}}"
          data-dtype="Number"
        />
      </div>

      {{! 상비화 포인트 (equip-point) 영역 }}
      <div class="equip-point-container flexcol grid-2col">
        <label for="system.equip-point" class="resource-label">상비화 포인트</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input
            type="text"
            name="system.equip-point.used"
            value="{{system.equip-point.used}}"
            data-dtype="Number"
          />
          <span> / </span>
          <input
            type="text"
            name="system.equip-point.remaining"
            value="{{system.equip-point.remaining}}"
            data-dtype="Number"
          />
        </div>
      </div>
    </div>

    {{! 클래스 및 레벨 영역 (우측 배치) }}
    <div class="class-level-fields flexcol">
      <div class="level-container flexrow">
        <label for="system.attributes.level.value" class="resource-label">레벨</label>
        <input
          type="text"
          name="system.attributes.level.value"
          value="{{system.level}}"
          data-dtype="Number"
        />
      </div>

      {{! 클래스와 클래스 레벨을 나란히 배치 }}
      <div class="class-list flexcol">
        <div class="flexcol">
          <div class="flexrow">
            <input
              type="text"
              name="system.class.first.name"
              value="{{system.class.first.name}}"
              placeholder="Class 1"
            />
            <input
              type="text"
              name="system.class.first.level"
              value="{{system.class.first.level}}"
              placeholder="LV"
            />
          </div>
        </div>

        <div class="flexcol">
          <div class="flexrow">
            <input
              type="text"
              name="system.class.second.name"
              value="{{system.class.second.name}}"
              placeholder="Class 2"
            />
            <input
              type="text"
              name="system.class.second.level"
              value="{{system.class.second.level}}"
              placeholder="LV"
            />
          </div>
        </div>

        <div class="flexcol">
          <div class="flexrow">
            <input
              type="text"
              name="system.class.third.name"
              value="{{system.class.third.name}}"
              placeholder="Class 3"
            />
            <input
              type="text"
              name="system.class.third.level"
              value="{{system.class.third.level}}"
              placeholder="LV"
            />
          </div>
        </div>
      </div>

      <div class="speed-container grid-2col">
        <div>
          <label>이동력</label>
          <input
            type="text"
            name="system.battle-stats.speed.value"
            value="{{system.battle-stats.speed.value}}"
            data-dtype="Number"
            readonly
          />
        </div>
        <div>
          <label>전력이동</label>
          <input
            type="text"
            name="system.battle-stats.speed.full"
            value="{{system.battle-stats.speed.full}}"
            data-dtype="Number"
            readonly
          />
        </div>
      </div>
    </div>
  </header>

  {{! 능력치 테이블 영역 }}
  <section class="attributes-container grid grid-6col">

    {{! 능력치 헤더 }}
    <button class="attribute-header rollable" data-action="strRoll">체력</button>
    <button class="attribute-header rollable" data-action="dexRoll">반사</button>
    <button class="attribute-header rollable" data-action="perRoll">지각</button>
    <button class="attribute-header rollable" data-action="intRoll">이성</button>
    <button class="attribute-header rollable" data-action="wilRoll">의지</button>
    <button class="attribute-header rollable" data-action="lukRoll">행운</button>

    {{! 능력치 값 표시 영역 }}
    <div class="attribute">
      <input
        type="text"
        name="system.attributes.str.value"
        value="{{system.attributes.str.value}}"
        data-dtype="Number"
      />
    </div>
    <div class="attribute">
      <input
        type="text"
        name="system.attributes.dex.value"
        value="{{system.attributes.dex.value}}"
        data-dtype="Number"
      />
    </div>
    <div class="attribute">
      <input
        type="text"
        name="system.attributes.per.value"
        value="{{system.attributes.per.value}}"
        data-dtype="Number"
      />
    </div>
    <div class="attribute">
      <input
        type="text"
        name="system.attributes.int.value"
        value="{{system.attributes.int.value}}"
        data-dtype="Number"
      />
    </div>
    <div class="attribute">
      <input
        type="text"
        name="system.attributes.wil.value"
        value="{{system.attributes.wil.value}}"
        data-dtype="Number"
      />
    </div>
    <div class="attribute">
      <input
        type="text"
        name="system.attributes.luk.value"
        value="{{system.attributes.luk.value}}"
        data-dtype="Number"
      />
    </div>

    {{! 능력치 수정치 영역 }}
    <div class="attribute-mod">
      <input
        type="number"
        name="system.attributes.str.mod"
        value="{{system.attributes.str.mod}}"
        data-dtype="Number"
      />
    </div>
    <div class="attribute-mod">
      <input
        type="number"
        name="system.attributes.dex.mod"
        value="{{system.attributes.dex.mod}}"
        data-dtype="Number"
      />
    </div>
    <div class="attribute-mod">
      <input
        type="number"
        name="system.attributes.per.mod"
        value="{{system.attributes.per.mod}}"
        data-dtype="Number"
      />
    </div>
    <div class="attribute-mod">
      <input
        type="number"
        name="system.attributes.int.mod"
        value="{{system.attributes.int.mod}}"
        data-dtype="Number"
      />
    </div>
    <div class="attribute-mod">
      <input
        type="number"
        name="system.attributes.wil.mod"
        value="{{system.attributes.wil.mod}}"
        data-dtype="Number"
      />
    </div>
    <div class="attribute-mod">
      <input
        type="number"
        name="system.attributes.luk.mod"
        value="{{system.attributes.luk.mod}}"
        data-dtype="Number"
      />
    </div>

  </section>

  {{! 판정 버튼 영역 }}
  <section class="roll-buttons flexrow">

    {{! 명중판정 버튼 }}
    <div class="roll-button">
      <button type="button" class="rollable" data-action="accuracy">명중판정</button>
      <input
        type="number"
        name="system.battle-stats.accuracy.added"
        value="{{system.battle-stats.accuracy.added}}"
        data-dtype="Number"
        readonly
      />
    </div>

    {{! 회피판정 버튼 }}
    <div class="roll-button">
      <button type="button" class="rollable" data-action="evasion">회피판정</button>
      <input
        type="number"
        name="system.battle-stats.evasion.added"
        value="{{system.battle-stats.evasion.added}}"
        data-dtype="Number"
        readonly
      />
    </div>

    {{! 포격판정 버튼 }}
    <div class="roll-button">
      <button type="button" class="rollable" data-action="artillery">포격판정</button>
      <input
        type="number"
        name="system.battle-stats.artillery.added"
        value="{{system.battle-stats.artillery.added}}"
        data-dtype="Number"
        readonly
      />
    </div>

    {{! 방벽판정 버튼 }}
    <div class="roll-button">
      <button type="button" class="rollable" data-action="defense">방벽판정</button>
      <input
        type="number"
        name="system.battle-stats.defense.added"
        value="{{system.battle-stats.defense.added}}"
        data-dtype="Number"
        readonly
      />
    </div>

    {{! 행동력(이니셔티브) 버튼 }}
    <div class="roll-button">
      <button type="button" class="rollInitiative" data-action="initiative">행동력</button>
      <input
        type="number"
        name="system.battle-stats.initiative.added"
        value="{{system.battle-stats.initiative.added}}"
        data-dtype="Number"
        readonly
      />
    </div>

  </section>

    <section class="sheet-stats grid grid-8col">
      <div class="stat-header grid-span-8">방어수정</div>

      <div class="stat-label">참격</div>
      <div class="stat-label">관통</div>
      <div class="stat-label">타격</div>
      <div class="stat-label">화염</div>
      <div class="stat-label">얼음</div>
      <div class="stat-label">번개</div>
      <div class="stat-label">광휘</div>
      <div class="stat-label">어둠</div>

      <div class="stat-value">
        <input
          type="number"
          name="system.defense.slash.total"
          value="{{system.defense.slash.total}}"
          readonly
        />
      </div>
      <div class="stat-value">
        <input
          type="number"
          name="system.defense.pierce.total"
          value="{{system.defense.pierce.total}}"
          readonly
        />
      </div>
      <div class="stat-value">
        <input
          type="number"
          name="system.defense.blunt.total"
          value="{{system.defense.blunt.total}}"
          readonly
        />
      </div>
      <div class="stat-value">
        <input
          type="number"
          name="system.defense.fire.total"
          value="{{system.defense.fire.total}}"
          readonly
        />
      </div>
      <div class="stat-value">
        <input
          type="number"
          name="system.defense.ice.total"
          value="{{system.defense.ice.total}}"
          readonly
        />
      </div>
      <div class="stat-value">
        <input
          type="number"
          name="system.defense.electric.total"
          value="{{system.defense.electric.total}}"
          readonly
        />
      </div>
      <div class="stat-value">
        <input
          type="number"
          name="system.defense.light.total"
          value="{{system.defense.light.total}}"
          readonly
        />
      </div>
      <div class="stat-value">
        <input
          type="number"
          name="system.defense.dark.total"
          value="{{system.defense.dark.total}}"
          readonly
        />
      </div>
    </section>
  {{! Sheet Tab Navigation }}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="bios">Bios</a>
    <a class="item" data-tab="classes">Class</a>
    <a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="skills">Skills</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{! Sheet Body }}
  <section class="sheet-body">
    {{! Tabs content will go here }}
    <div class="tab bios" data-group="primary" data-tab="bios">
      {{> "systems/metallic-guardian/templates/actor/parts/actor-bios.hbs"}}
    </div>

    <div class="tab classes" data-group="primary" data-tab="classes">
      {{> "systems/metallic-guardian/templates/actor/parts/actor-classes.hbs"}}
    </div>

    <div class="tab items" data-group="primary" data-tab="items">
      {{> "systems/metallic-guardian/templates/actor/parts/actor-items.hbs"}}
    </div>

    <div class="tab skills" data-group="primary" data-tab="skills">
      {{> "systems/metallic-guardian/templates/actor/parts/actor-skills.hbs"}}
    </div>

    <div class="tab effects" data-group="primary" data-tab="effects">
      {{> "systems/metallic-guardian/templates/actor/parts/actor-effects.hbs"}}
    </div>
  </section>
</form>

{{log system}}
