<section class="sheet-stats grid grid-5col">
  <div class="stat-label">명중</div>
  <div class="stat-label">회피</div>
  <div class="stat-label">포격</div>
  <div class="stat-label">방어</div>
  <div class="stat-label">행동</div>

  <div class="stat-value">
    <input
      type="number"
      name="system.battle-stats.accuracy"
      value="{{system.battle-stats.accuracy}}"
    />
  </div>
  <div class="stat-value">
    <input
      type="number"
      name="system.battle-stats.evasion"
      value="{{system.battle-stats.evasion}}"
    />
  </div>
  <div class="stat-value">
    <input
      type="number"
      name="system.battle-stats.artillery"
      value="{{system.battle-stats.artillery}}"
    />
  </div>
  <div class="stat-value">
    <input
      type="number"
      name="system.battle-stats.defense"
      value="{{system.battle-stats.defense}}"
    />
  </div>
  <div class="stat-value">
    <input
      type="number"
      name="system.battle-stats.initiative"
      value="{{system.battle-stats.initiative}}"
    />
  </div>
</section>